div.container main.pb-3 div div.row div.col-md-9 {
  margin-top: 5%; }
  div.container main.pb-3 div div.row div.col-md-9 h1 {
    color: #000000;
    font-family: "Lora", serif; }
  div.container main.pb-3 div div.row div.col-md-9 div.row div.col-md-6 form#change-password-form div.form-group label {
    color: #000000;
    font-family: "Merriweather", serif;
    text-transform: capitalize; }
  div.container main.pb-3 div div.row div.col-md-9 div.row div.col-md-6 form#change-password-form button.btn {
    font-family: "Merriweather", serif;
    border-color: #BBBCBD;
    color: #0F2845 !important;
    background-color: #BBBCBD; }
    div.container main.pb-3 div div.row div.col-md-9 div.row div.col-md-6 form#change-password-form button.btn:hover {
      border-color: #DA765D;
      background-color: #DA765D;
      color: #0F2845; }
