div.container main.pb-3 div div.row div.col-md-9 {
  margin-top: 5%; }
  div.container main.pb-3 div div.row div.col-md-9 h1 {
    color: #000000;
    font-family: "Lora", serif; }
  div.container main.pb-3 div div.row div.col-md-9 div.row div.col-md-6 p {
    color: #4D4D4D;
    font-family: "Merriweather", serif; }
  div.container main.pb-3 div div.row div.col-md-9 div.row div.col-md-6 form#download-data.form-group button.btn {
    font-family: "Merriweather", serif;
    border-color: #BBBCBD;
    color: #0F2845 !important;
    background-color: #BBBCBD; }
    div.container main.pb-3 div div.row div.col-md-9 div.row div.col-md-6 form#download-data.form-group button.btn:hover {
      border-color: #DA765D;
      background-color: #DA765D;
      color: #0F2845; }
  div.container main.pb-3 div div.row div.col-md-9 div.row div.col-md-6 p a#delete.btn {
    font-family: "Merriweather", serif;
    border-color: #BBBCBD;
    color: #0F2845 !important;
    background-color: #BBBCBD; }
    div.container main.pb-3 div div.row div.col-md-9 div.row div.col-md-6 p a#delete.btn:hover {
      border-color: #DA765D;
      background-color: #DA765D;
      color: #0F2845; }
