div.container main.pb-3 div div.row div.col-md-9 {
  margin-top: 5%; }
  div.container main.pb-3 div div.row div.col-md-9 h1 {
    font-family: "Lora", serif;
    color: #000000; }
  div.container main.pb-3 div div.row div.col-md-9 form#profile-form div.row div.col-md-6 div.form-group label {
    color: #000000;
    font-family: "Merriweather", serif; }
  div.container main.pb-3 div div.row div.col-md-9 form#profile-form div.row div.col-md-6 div.form-group.form-check p {
    color: #000000;
    font-family: "Merriweather", serif; }
  div.container main.pb-3 div div.row div.col-md-9 form#profile-form div.row div.col-md-6 div.form-group.form-check img {
    width: 50%;
    border-radius: 6px; }
  div.container main.pb-3 div div.row div.col-md-9 form#profile-form div.row div.col-md-6 div.form-group.form-check input#imageInput {
    margin-top: 5%; }
  div.container main.pb-3 div div.row div.col-md-9 form#profile-form div.row div.col-md-12 button#update-profile-button.btn {
    font-family: "Merriweather", serif;
    border-color: #BBBCBD;
    color: #0F2845 !important;
    background-color: #BBBCBD; }
    div.container main.pb-3 div div.row div.col-md-9 form#profile-form div.row div.col-md-12 button#update-profile-button.btn:hover {
      border-color: #DA765D;
      background-color: #DA765D;
      color: #0F2845; }
