//Reptile Colors
$rept-brown: #857658;
$rept-dark-brown: #554d40;
$rept-yellow: #fdfdb9;
$rept-green: #a6c79f;
$rept-dark-green: #69804d;

//Dog Colors
$dog-black: #060302;
$dog-orange: #DA9455;
$dog-red: #BA4D39;
$dog-burgundy: #592619;
$dog-cream: #EEE0D0;

//Cat Colors
$cat-black: #090605;
$cat-grey: #676566;
$cat-light-grey: #b4b2b3;
$cat-light-blue: #a4bfd9;
$cat-blue: #5b92cb;

//Other Colors
$black: #000000;
$light-black: #4D4D4D;
$dark-black: #242424;
$white: #ffffff;
$search-blue-background: #00A7DE;
$grey: #D8D8D8;
$light-blue: #20ccf8;
$owner-blue: #3e4485;
$owner-rust: #85473e;
$adopter-pink: #F0C5A2;
$adopter-green: #769F91;
$user-blue: #0F2845;
$user-orange: #DA765D;
$user-grey: #BBBCBD;

//Banner Colors
$banner-yellow: #FFCC1B;
$banner-green: #70CF36;
$banner-black: #4D4D4D;

//Fonts
$big-font: 'Lora', serif;
$lil-font: 'Merriweather', serif;

