h1 {
  font-family: "Lora", serif;
  color: #000000;
  margin-top: 5%;
  margin-bottom: 5%; }

h5 {
  margin-bottom: 5%; }
  h5 a {
    color: #000000;
    font-family: "Lora", serif; }
    h5 a:hover {
      text-decoration: none;
      color: #a4bfd9; }

div.row div#sidebar.col-md-3 div#find-cat-promo {
  border: 1px solid #a4bfd9;
  border-radius: 10px;
  margin-bottom: 15%; }
  div.row div#sidebar.col-md-3 div#find-cat-promo img {
    width: 50%;
    margin-left: 25%;
    margin-bottom: 10%;
    margin-top: 5%; }
  div.row div#sidebar.col-md-3 div#find-cat-promo h3 {
    font-family: "Lora", serif;
    color: #a4bfd9;
    text-align: center;
    font-weight: bold;
    margin-bottom: 5%; }
  div.row div#sidebar.col-md-3 div#find-cat-promo p {
    font-family: "Merriweather", serif;
    text-align: center;
    color: #000000;
    font-size: 14px; }
  div.row div#sidebar.col-md-3 div#find-cat-promo div#find-cat-promo-footer {
    text-align: center;
    text-transform: uppercase;
    color: #a4bfd9 !important;
    padding: 10px 18px;
    font-weight: bold;
    border-top: 1px solid #a4bfd9;
    font-family: "Lora", serif; }
    div.row div#sidebar.col-md-3 div#find-cat-promo div#find-cat-promo-footer:hover {
      color: #ffffff !important;
      background-color: #5b92cb;
      cursor: pointer;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
      border-color: #5b92cb !important; }
    div.row div#sidebar.col-md-3 div#find-cat-promo div#find-cat-promo-footer a {
      color: inherit;
      font-size: 18px;
      text-decoration: none; }

div.row div#sidebar.col-md-3 form div.form-group label {
  color: #000000;
  font-family: "Merriweather", serif;
  width: 100%;
  text-align: center; }

div.row div#sidebar.col-md-3 form div.form-group select.form-control.form-control-lg {
  border-color: #a4bfd9; }
  div.row div#sidebar.col-md-3 form div.form-group select.form-control.form-control-lg:hover {
    box-shadow: 0px 9px 13px -8px #4d4d4d; }

div.row div#sidebar.col-md-3 form div.form-group input.form-control.form-control-lg {
  border-color: #a4bfd9; }
  div.row div#sidebar.col-md-3 form div.form-group input.form-control.form-control-lg:hover {
    box-shadow: 0px 9px 13px -8px #4d4d4d; }

div.row div#sidebar.col-md-3 form button.btn.btn-default {
  color: #a4bfd9;
  border-color: #a4bfd9;
  font-family: "Merriweather", serif; }
  div.row div#sidebar.col-md-3 form button.btn.btn-default:hover {
    color: white;
    border-color: #5b92cb;
    background-color: #5b92cb; }

div.row div#sidebar.col-md-3 form a {
  font-family: "Merriweather", serif;
  color: #000000;
  text-transform: capitalize; }
  div.row div#sidebar.col-md-3 form a:hover {
    text-decoration: none;
    color: #a4bfd9; }

div.row div#sidebar.col-md-3 form span {
  margin-right: 5%;
  margin-left: 5%; }

div.row div#pet-results.col-md-9 {
  margin-bottom: 5%; }
  div.row div#pet-results.col-md-9 div.row div.col-md-4 {
    margin-bottom: 5%; }
    div.row div#pet-results.col-md-9 div.row div.col-md-4 div.card {
      height: 100%;
      border-radius: 8px !important;
      padding: 8px;
      border-color: #5b92cb; }
      div.row div#pet-results.col-md-9 div.row div.col-md-4 div.card:hover {
        border-color: #a4bfd9;
        box-shadow: 0px 9px 13px -8px #4d4d4d; }
      div.row div#pet-results.col-md-9 div.row div.col-md-4 div.card img.card-img {
        border-radius: 10px;
        height: 158px; }
      div.row div#pet-results.col-md-9 div.row div.col-md-4 div.card div.card-body h5.card-title {
        color: #000000;
        font-family: "Lora", serif;
        font-weight: bold;
        text-align: center; }
      div.row div#pet-results.col-md-9 div.row div.col-md-4 div.card div.card-body p.card-text {
        font-family: "Merriweather", serif;
        color: #000000;
        text-align: center; }
      div.row div#pet-results.col-md-9 div.row div.col-md-4 div.card div#cat-row.row div.col-md-4 a {
        color: #000000;
        border-color: #5b92cb;
        font-family: "Merriweather", serif; }
        div.row div#pet-results.col-md-9 div.row div.col-md-4 div.card div#cat-row.row div.col-md-4 a:hover {
          text-decoration: none;
          color: #a4bfd9; }

@media (max-width: 576px) {
  div#sidebar.col-md-3 form {
    margin-bottom: 10%; }
  div#pet-results.col-md-9 div.row div.col-md-4 div.card {
    width: 50%;
    margin: 0 auto; } }

@media (max-width: 768px) {
  div#sidebar.col-md-3 {
    flex: none;
    max-width: none;
    margin-bottom: 10%; }
    div#sidebar.col-md-3 div#find-cat-promo {
      width: 50%;
      margin: 0 auto; }
    div#sidebar.col-md-3 form {
      margin-top: 10%;
      width: 50%;
      margin: 0 auto; }
  div#pet-results.col-md-9 {
    margin: 0 auto; }
    div#pet-results.col-md-9 div.row div.col-md-4 {
      flex: none;
      max-width: none; }
      div#pet-results.col-md-9 div.row div.col-md-4 div.card {
        width: 50%;
        margin: 0 auto; } }

@media (max-width: 992px) {
  div#sidebar.col-md-3 {
    flex: none;
    max-width: none;
    margin-bottom: 10%; }
    div#sidebar.col-md-3 div#find-cat-promo {
      width: 50%;
      margin: 0 auto; }
    div#sidebar.col-md-3 form {
      margin-top: 10%;
      width: 50%;
      margin: 0 auto; }
  div#pet-results.col-md-9 {
    margin: 0 auto; }
    div#pet-results.col-md-9 div.row div.col-md-4 {
      flex: none;
      max-width: none; }
      div#pet-results.col-md-9 div.row div.col-md-4 div.card {
        width: 50%;
        margin: 0 auto; } }
