@import '../Global.scss';


div.container {
    h3 {
        color: $black;
        font-family: $lil-font;
        text-transform: capitalize;
        margin-top: 5%;


        span {
            color: $dog-red;
        }
    }

    div.row {
        div.col-md-9 {
            margin-top: 5%;

            div#back-link {
                margin-bottom: 5%;

                a {
                    color: $black;
                    font-family: $lil-font;
                    margin-left: 1%;

                    &:hover {
                        text-decoration: none;
                        color: $dog-orange;
                    }
                }
            }

            div.row {
                div.col-md-12 {

                    div#dogs-img {
                        img {
                            height: 405px;
                            width: 100% !important;
                            border-radius: 2rem;
                        }
                    }
                }
            }

            h2.pet-h {
                color: $dark-black;
                font-family: $big-font;
                margin-bottom: 2.5%;
                margin-top: 5%;
                font-weight: bold;
            }

            div#pet-facts {
                border-bottom: 2px solid #D8D8D8 !important;

                div.row {
                    margin-bottom: 5%;
                    div.col-md-6 {
                        h4 {
                            color: $dark-black;
                            font-family: $lil-font;

                            span {
                                color: $light-black;
                                font-family: $big-font;
                            }
                        }
                    }
                }
            }


            div#pet-info {
                border-bottom: 2px solid #D8D8D8 !important;

                div.row {
                    margin-bottom: 5%;
                    div.col-md-6 {
                        h4 {
                            font-family: $lil-font;
                        }
                    }
                }
            }

            div#food-req {
                border-bottom: 2px solid #D8D8D8 !important;

                p {
                    color: $black;
                    line-height: 2.5rem;
                    font-weight: 200;
                    font-family: $lil-font;
                    margin-bottom: 5%;
                }
            }

            div#habitat-req {
                border-bottom: 2px solid #D8D8D8 !important;

                p {
                    color: $black;
                    line-height: 2.5rem;
                    font-weight: 200;
                    font-family: $lil-font;
                    margin-bottom: 5%;
                }
            }
        }

        div.col-md-3 {
            margin-top: 5%;

            div.dog-ad {
                a {
                    img {
                        width: 100%;
                        margin: 21%;
                    }
                }
            }
        }
    }

    form {
        margin-top: 3%;
        input.btn.btn-danger {
            color: $dog-red;
            background-color: $white;
            border-color: $dog-red;
            font-family: $lil-font;

            &:hover {
                color: $white;
                background-color: $dog-red;
                border-color: $dog-red;
            }
        }

        span {
            margin-right: 1%;
            margin-left: 1%;
        }

        a {
            color: $black;
            font-family: $lil-font;
            text-transform: capitalize;

            &:hover {
                color: $dog-orange;
                text-decoration: none;
            }
        }
    }
}

@media (max-width: 576px) {

    body {

        div#banner {
            div.banner-img.d-flex {
                margin-right: 3%;
            }
        }

        div.container {
            main.pb-3 {
                div.row {
                    div.col-md-9 {
                        div.row {
                            margin-bottom: 10%;

                            div.col-md-6 {
                                h2#dogs-name {
                                    text-align: center;
                                }

                                div#dogs-img {
                                    img {
                                        margin-left: 11%;
                                    }
                                }
                            }

                            div.col-md-6 {
                                div#ask-about {
                                    margin-left: 0;
                                    margin-top: 10%;
                                    text-align: center;

                                    h3#cared-for {
                                        margin-top: 5%;
                                    }
                                }
                            }
                        }

                        h2.pet-h {
                            text-align: center;
                        }

                        div#pet-facts {
                            div.row {
                                margin-bottom: 5%;

                                div.col-md-6 {
                                    width: 50%;
                                }

                                div.col-md-6 {
                                    width: 50%;
                                }
                            }
                        }

                        h2#info-h.pet-h {
                            text-align: center;
                        }

                        div#pet-info {
                            div.row {
                                margin-bottom: 5%;

                                div.col-md-6 {
                                    width: 50%;
                                }

                                div.col-md-6 {
                                    width: 50%;
                                }
                            }
                        }

                        h2.pet-h {
                            text-align: center;
                        }

                        div#contact-info {
                            div.card {
                                div.card-body {
                                    div.row {
                                        div.col-md-6.img {
                                            margin-top: 10%;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    div.col-md-3 {
                        margin-top: 0;
                        margin-left: 20%;

                        div#img-1.dog-ad {
                            width: 50%;
                        }

                        div#img-2.dog-ad {
                            width: 50%;
                        }

                        div#img-3.dog-ad {
                            width: 50%;
                        }
                    }
                }
            }
        }
    }
}




@media (max-width: 768px) {
    body {


        div#banner {
            div.banner-img.d-flex {
                margin-right: 3%;
            }
        }

        div.container {
            main.pb-3 {
                div.row {
                    div.col-md-9 {

                        div.row {
                            div.col-md-6 {
                                max-width: 100%;
                                margin-left: 10%;

                                h2#dogs-name {
                                    text-align: center;
                                }
                            }

                            div.col-md-6 {
                                div#ask-about {
                                    margin-left: 0;
                                    margin-top: 20%;
                                }
                            }
                        }

                        div#contact-info {
                            padding: 2%;

                            div.card {
                                div.card-body {
                                    div.row {

                                        div.col-md-6.heading {
                                            h4.card-text {
                                                font-size: .8rem;

                                                span {
                                                    font-size: 13px;
                                                }
                                            }
                                        }


                                        div.col-md-6.img {
                                            margin-top: 10%;

                                            h4.card-text {
                                                font-size: .8rem;

                                                span {
                                                    font-size: 13px;
                                                }
                                            }

                                            div#img-section {
                                                img.card-img {
                                                    display: none;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 992px) {
    body {


        div.container {
            main.pb-3 {
                div.row {
                    div.col-md-9 {
                        div#contact-info {
                            div.card {
                                div.card-body {
                                    div.row {
                                        div.col-md-6.heading {
                                            h4.card-text {
                                                font-size: .8rem;
                                            }
                                        }

                                        div.col-md-6.img {
                                            h4.card-text {
                                                font-size: .8rem;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
